# Database Configuration
DB_HOST=localhost
DB_USER=
DB_PASS=
DB_NAME=db_halal

# Apps Version
APP_VER = 2.0.1

# Apps Environment (DEV = Development, PRO = Production)
APP_ENV=DEV

# Default Search (1=by name, 2:by E-code)
APP_SRC=1
